*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: azure;
}
#container{
    border: 1px solid gray;
    margin: 20px 20px 20px 20px;
    height: auto;
    width: 700px;
    margin:15px auto;
    background-color: lightgray;
    border-radius: 20px;
    padding: 40px;
}
#main_heading{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#disclaimer{
    text-align: center;
    color: rgb(73, 67, 67);
}
fieldset{
    font-size: 20px;
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}
legend{
    font-size: 25px;
}
input[type = "text"],
input[type = "tel"],
input[type = "email"],
textarea{
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
select{
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}
input[type = "submit"]{
    width: 100%;
    padding: 20px;
    font-size: large;
    background-color: yellowgreen;   
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
input[type = "submit"]:hover{
    background-color: rebeccapurple;   
}